div {
    color: MediumSeaGreen;
}
span {
    color: MediumSeaGreen;
    font-style: italic;
    font-size: 50px;
}
h1, footer {
    text-align: center
}
.bas-droite {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}